*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* utility */
.box-debug{
    height: 50px;
    background-color: yellow;
    width: 100%;
    border: 2px solid black;
}

.icon{
    color: #bababa;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.icon-f{
    color: #777e82;
    font-size: 30px;
    cursor: pointer;
}


body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dde0db 15%,
        #dde0db 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
    }


.container {
    width: 80%;
    height: 95%;
    background-color: #fff;
    min-width: 900px;
    display: flex;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, .2);
}
/* sidebar */
.sidebar{
    background-color: #ededed;
    width: 40%;
    flex-grow: 1;
}

.side-header{
    display: flex;
    padding: 10px 8px;
    border-right: 3px solid #e9e9e9 ;
}

.img-profile{
    height: 50px;
    width: 50px;
}

.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-content .name{
    font-size: 20px;
    margin-left: 10px;
}

/* notification */
.sidebar-notification{
    padding: 20px 15px;
    background-color: #a2dffe;
    display: flex;
    align-items: center;
}


.sidebar-notification .icon-container{
    background-color: #f5fcff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-container .icon{
    font-size: 30px;
    padding-left: 8px;
    color: #a2dffe;
}

/* text-n */
.text-notication{
    padding: 0px 20px;
}

.text-notication a {
    color: #5e7f91;
    padding: 15px 0px;
    font-weight: bold;
}

/* search-bar */

.search-bar{
    display: flex;
    padding: 5px 5px;
}


.search-bar button {
    background-color: #fff;
    cursor: pointer;
}

.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button .icon{
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    font-size: 20px;
}

.search-bar button:hover{
    background-color: #32a093;
}
.search-bar button:hover .icon{
    color: #fff;
}

.search-bar input{
    flex-grow: 1;
    outline: none;
    border: 1px solid lightgray;
}

.search-bar input::placeholder{
    color: lightgray;
    font-size: 16px;
}

.search-bar input:focus{
    border: 2px solid #000;
}

.contact {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: #fff;
    border-bottom: 2px solid #ccc ;
}

.contact h3{
    margin-left: 10px;
}

/* mmain-content */
.main{
    width: 60%;
    flex-grow: 1;
   background-image: url(/img/mine.jpg);
   position: relative;
}

.main-header{
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 10px 8px;
    position: relative;
}

.main-header .name-main{
    margin-left: 30px;
}
.main-header .items-main{
    position: absolute;
    right: 10px;
    justify-content: flex-end;
}

.items-main .icon{
 padding: 0 5px;
}

.main-text span{
    color: #777e82;
}

.message-ctn{
    display: flex;
}


.right-message{
    align-self: flex-end;
    width: 50%;
}

.left-message{
    align-self: flex-start;
    width: 50%;
}

.message{
    width: 70%;
    height: 50px;
    padding: 10px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 13px;
    font-size: 14px;
    position: relative;
}

.user{
    margin-left: 30px;
    margin-top: 80px;
}


.m-contact{
    margin-top: 20px;
    background-color: #ddfabf;
}

.data{
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: #c1c6c3;
}

/* footer main */

.main-footer{
    padding: 15px 15px;
    background-color: #f4f0ed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-footer .input-message{
    width: 80%;
    padding: 10px 8px;
    outline: none;
    border: 0;
    border-radius: 8px;
}

.input-message:focus{
    border: 1px solid #000;
}

.input-message::placeholder{
    color: lightgray;
} 